snippet tplsnip
	f@"nyiWxi${=i:ea}:%s/\Vn/$=i/g``:let i += 1j0
snippet tbl
	create table ${1:table} (
		${0:columns}
	);
snippet col
	${1:name}	${2:type}	${3:default ''}	${0:not null}
snippet ccol
	${1:name}	varchar2(${2:size})	${3:default ''}	${0:not null}
snippet ncol
	${1:name}	number	${3:default 0}	${0:not null}
snippet dcol
	${1:name}	date	${3:default sysdate}	${0:not null}
snippet ind
	create index ${0:$1_$2} on ${1:table}(${2:column});
snippet uind
	create unique index ${1:name} on ${2:table}(${0:column});
snippet tblcom
	comment on table ${1:table} is '${0:comment}';
snippet colcom
	comment on column ${1:table}.${2:column} is '${0:comment}';
snippet addcol
	alter table ${1:table} add (${2:column} ${0:type});
snippet seq
	create sequence ${1:name} start with ${2:1} increment by ${3:1} minvalue ${0:1};
snippet s*
	select * from ${0:table}
snippet stats
	begin
		dbms_stats.gather_table_stats(
			 '${1:schema}'
			,'${2:table_name}'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
	end;
snippet declare
	declare
		${1}
	begin
		${2}
	end;

snippet if
	if ${1} then
		${2}
	else
		${3}
	end if;

snippet crmqa
	-- ################################################################################
	-- # PROGRAM <--> MASTER CONTROL Contamination Verification                       #
	-- ################################################################################
	select /*+ PARALLEL(t,32) */
		   count(*)
	  from ${1:final_table} t
	  where t.control_group = 'PROGRAM'
		and exists (
		select /*+ PARALLEL(ms,32) */
			  0 
		 from a_crm.crm_master_sending ms
		 where campaign_code like '${2}%'
		   and control_group = 'MASTER CONTROL'
		   and ms.crm_e_email = t.crm_e_email
		)
	
	-- ################################################################################
	-- # PROGRAM <--> CONTROL Contamination Verification							  #
	-- ################################################################################
	select /*+ PARALLEL(t,32) */
		   count(*)
	  from $1 t
	  where t.control_group = 'PROGRAM'
		and exists (
		select /*+ PARALLEL(ms,32) */
			  0 
		 from a_crm.crm_master_sending ms
		 where campaign_code like '$2%'
		   and control_group = 'CONTROL'
		   and ms.crm_e_email = t.crm_e_email
		)

	
	-- ################################################################################
	-- # VERIFY THERE ARE NO INVALID EMAIL ADDRESSES                                  #
	-- ################################################################################
	SELECT COUNT(*)
	FROM ${3:staging_table} A
	WHERE A.EMAIL_ADDRESS IN (SELECT IE.E_EMAIL
								FROM A_CI.SAT_EMAIL_INVALID_FIXED IE
							 )

	
	-- ################################################################################
	-- # BLACKLIST DOMAIN CHECK                                                       #
	-- ################################################################################
	SELECT COUNT(*) 
	FROM $3 A
	WHERE UPPER(SUBSTR(R_MASK.ENCRYPTION_PKG.DECRYPT(A.EMAIL_ADDRESS),
					   INSTR(R_MASK.ENCRYPTION_PKG.DECRYPT(A.EMAIL_ADDRESS),
							 '@'
							) + 1
					  )
			   ) IN (SELECT DB.DOMAIN
					   FROM S_DBM.V_DOMAIN_BLACKLIST DB
					)


	-- ################################################################################
	-- # DNC Check                                                                    #
	-- ################################################################################
	SELECT COUNT(*)
	FROM $3 S
	WHERE EXISTS (SELECT 1 
					FROM A_CI.SAT_EMAIL_DNC DNC 
					WHERE DNC.E_EMAIL = S.EMAIL_ADDRESS
				 )
				 


snippet pkgrptdicx
	select /*+ PARALLEL(t,32) */
				t.*
	from ${1:tabprefix}_ch t
	-- from $1_ch_eh_ced t
	-- from $1_eh h
	-- from $1_upg h
	-- from $1_churn h
	-- from $1_jd h
	where 
	campaign_code = '${2}'
	and 
	cell_code = '${3}'
	and
	customer_id = '${4}'
	-- and
	-- glb_cust_id = '$4'
	-- and 
	-- crm_glb_cust_id like  '$4-%'
	;

	select /*+ PARALLEL(jd,32) 
						 PARALLEL(t,32) */
				 jd.*
				,t.*
	 from a_crm.crm_job_details jd
	 left outer join a_crm.crm_et_tracking t on jd.job_id = t.sendid
																					and jd.crm_glb_cust_id = t.subscriberkey
	where campaign_code = '$2'
	 and cell_code = '$3'
	 and customer_id = '$4'
	;

snippet pkgrpt
	begin
		pkg_rpt_tpl.master_sending('${1:table_prefix}', q'[where campaign_code like '$1%']');
		dbms_stats.gather_table_stats(
			'vberube'
			,'$1_CH'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.job_details('$1', q'[where campaign_code like '$1%']');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_JD'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.et_tracking('$1', q'[where campaign_code like '$1%']');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_EH'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.start_dates('$1');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_CSD'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.start_dates_ctrl('$1');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_CSD_CTRL'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.master_tracking('$1');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_CH_EH'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.master_tracking_ced('$1');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_CH_EH_CED'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		dbms_mview.refresh(
			list => 'mv_rpt_bb10_upg'
			,method => 'c'
			,atomic_refresh => false);
			pkg_rpt_tpl.upgrades('$1');
		dbms_stats.gather_table_stats(
			 'vberube'
			,'$1_UPG'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.churn('$1');
		dbms_stats.gather_table_stats(
			'vberube'
			,'$1_churn'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.final('$1');
		dbms_stats.gather_table_stats(
			'vberube'
			,'$1_final'
			,cascade=>true
			,estimate_percent=>dbms_stats.auto_sample_size
			,degree=>32);
		pkg_rpt_tpl.email_summary_report(1, '$1');
	end;

snippet ms
	a_crm.crm_master_sending
snippet jd
	a_crm.crm_job_details
snippet et
	a_crm.crm_et_tracking
snippet spool
	BEGIN
		S_DBM.PACK_SPOOLING_FILES.Proc_Main;
	END;
	
snippet /*
	/* ${1} */
snippet /**
	/*
	 *${1} 
	 */
snippet /*+
	/*+ ${1} */
snippet selcnt
	select /*+ PARALLEL($2,32) */
				count(*)
		from ${1:table_name} ${2:tab_prefix}
snippet selcntw
	select /*+ PARALLEL($2,32) */
				count(*)
		from ${1:table_name} ${2:tab_prefix}
		where ${3:predicate}
snippet ct
	create table ${1:table_name}
			compress for query high
			parallel
			nologging
	as
snippet getdupes
	with dupes as (
		select /*+ PARALLEL(h,32) */
					h.campaign_code
				 ,h.cell_code
				 ,h.e_email
				 ,count(*)
			from ${1:table} h
			where h.campaign_code like '${2:prg}%'
	group by 
				 h.campaign_code
				,h.cell_code
				,h.e_email
	having count(*)>1
	)
		select /*+ PARALLEL(h,32) */
						row_number() over (partition by h.campaign_code ,h.cell_code ,h.e_email order by h.campaign_code ,h.cell_code ,h.e_email) row_num
					 ,h.*
			from $1 h
			inner join dupes d on h.campaign_code    = d.campaign_code
												and h.cell_code        = d.cell_code
												and h.e_email          = d.e_email

snippet	selms
	select /*+ PARALLEL(ms,32) */
				 ms.campaign_code
				,ms.cell_code
				,ms.control_group
				,ms.*
	 from a_crm.crm_master_sending ms
	 where campaign_code like '${1:predicate}%'

snippet	selld
	select /*+ PARALLEL(ld,32) */
		  count(*)
	 from s_dtc.live_driver_email ld

snippet live_driver
	s_dtc.live_driver_email
snippet ldscrub
	  --Deduplicate by email
	   DELETE /*+ PARALLEL(A,32) */
					 FROM ${1:table_name} A
					 WHERE RowId > (SELECT /*+ PARALLEL(B,32) */ Min(RowId)
									  FROM ${1:table_name} B
									  WHERE A.CRM_E_EMAIL = B.CRM_E_EMAIL
								   );
	  --DNC Scrub
	   DELETE /* PARALLEL(A,32) */
				   FROM ${1:table_name} A
				   WHERE EXISTS (SELECT /*+ PARALLEL(DNC,32) */ 1
							   FROM A_CI.SAT_EMAIL_DNC DNC
							   WHERE DNC.E_EMAIL = A.E_EMAIL
							);
	  --Blacklist Domain Scrub
	   DELETE /* PARALLEL(A,32) */
				   FROM ${1:table_name} A
				   WHERE EXISTS (SELECT /*+ PARALLEL(DB,32) */ 1
							   FROM S_DBM.DOMAIN_BLACKLIST DB
							   WHERE DB.DOMAIN = A.EMAIL_DOMAIN
							);
	  --Invalid Emails Scrub
	   DELETE /* PARALLEL(A,32) */
				   FROM ${1:table_name} A
				   WHERE EXISTS (SELECT /*+ PARALLEL(IE,32) */ 1
							   FROM A_CI.SAT_EMAIL_INVALID_FIXED IE
							   WHERE IE.E_EMAIL = A.E_EMAIL
							);
	  --Hard Bounce Scrub
	   DELETE /* PARALLEL(A,32) */
				   FROM ${1:table_name} A
				   WHERE EXISTS (SELECT /*+ PARALLEL(HB,32) */ 1
							   FROM A_CRM.CRM_HARDBOUNCE HB
							   WHERE HB.CRM_E_EMAIL = A.CRM_E_EMAIL
							);
snippet tabld
	s_dtc.live_driver_email ld
snippet tabbbm
	s_bbm.bbm_mp_snapshot2 b
snippet tabeh
	a_crm.crm_et_tracking t
snippet tabch
	a_crm.crm_master_sending ms
snippet tabjd
	a_crm.job_details jd
snippet tabgc
	a_crm.crm_global_customer gc
snippet tabt
	a_crm.crm_et_tracking t
snippet ldos
	substr(dev_app_ver_major, 1, instr(dev_app_ver_major, '.')+1)
snippet ldosplat
	  ,case
		 when regexp_like(dev_app_ver, '^1[0-5]{1}\.') then 'BB10' 
		 when regexp_like(dev_app_ver, '^[4567]{1}\.') then 'BBOS' 
		 else 'N/A'
	   end os_platform
snippet ldbisbes
	case
	  when regexp_like(dev_app_ver, '^1[0-5]{1}\.') and bis_bes = 'BES' then 'BES'
	  when regexp_like(dev_app_ver, '^1[0-5]{1}\.') and bis_bes = 'BIS' then 'BIS'
	  when regexp_like(dev_app_ver, '^[4-7]{1}\.') and bes_access = 'N' then 'BIS' 
	  when regexp_like(dev_app_ver, '^[4-7]{1}\.') and bes_access = 'Y' then 'BES' 
	  else 'ERR'
	end
snippet ldbisbes_sqlserver
	,case
		when os like '1[0-5][.]%' and bis_bes = 'BES' then 'BES'
		when os like '1[0-5][.]%' and bis_bes = 'BIS' then 'BIS'
		when os like '[4567][.]%' and bes_access = 'N' then 'BIS' 
		when os like '[4567][.]%' and bes_access = 'Y' then 'BES' 
		else 'ERR'
	end bisbes
snippet ldten
	floor(pin_tenure/30)
	floor(months_between(sysdate, trunc(sysdate, 'IW') - pin_tenure))
snippet ldten_sqlserver
	,datediff
	 (  
		mm
	   ,dateadd(dd, -1*pin_tenure, dateadd(dd, 2 - datepart(dw, getdate()), getdate()))
	   ,getdate()
	 )
	 - case when datepart(day, dateadd(dd, -1*pin_tenure, dateadd(dd, 2 - datepart(dw, getdate()), getdate()))) > datepart(day, getdate()) then 1 else 0 end 
	 as device_tenure
snippet lddomain
	--UNENCRYPTED EMAIL
	  UPPER(SUBSTR(${1:tab}, INSTR($1, '@') + 1)) domain
	--ENCRYPTED EMAIL
	  UPPER(SUBSTR(R_MASK.ENCRYPTION_PKG.DECRYPT($1),
										 INSTR(R_MASK.ENCRYPTION_PKG.DECRYPT($1),
											   '@'
											  ) + 1
										)
								 ) domain
snippet ldprepost
	,case when pre.sap_serv_prd is not null then 'PRE' else 'POST' end as pre_post_paid
	left outer join (select distinct s.sap_serv_prd
					 from   s_pprov.glb_services s
							join s_pprov.glb_sim_services ss
							   on s.sap_serv_prd = ss.sap_serv_prd
					where   upper (s.serv_name) like '%PRE%PAID%') pre
					 on ld.finl_sap_serv_prd = pre.sap_serv_prd
snippet ldran
	,ROW_NUMBER() OVER (PARTITION BY CELL_CODE ORDER BY ROUND(DBMS_RANDOM.VALUE(1,10000000))) REC_NUM
	ORDER BY ROUND(DBMS_RANDOM.VALUE(1,10000000))
snippet	seljd
	select /*+ PARALLEL(jd,32) */
				 jd.campaign_code
				,jd.cell_code
				,jd.*
	 from a_crm.crm_job_details jd
	 where campaign_code like '${1:predicate}'

snippet dropdeltabs
	declare
		  cursor c1 is select * from all_Tables where owner = 'VBERUBE' and table_name like 'DEL%';
		  r1 c1%ROWTYPE;
	begin
		 open c1;
		  loop
				fetch c1 into r1;
				exit when c1%notfound;
				execute immediate 'drop table '||r1.owner||'.'||r1.table_name;
	            dbms_output.put_line('drop table '||r1.owner||'.'||r1.table_name);
		  end loop;
	end;
	
snippet selt
	select /*+ PARALLEL(t,32) */
				 t.sendid
				,t.subscriberkey
				,t.*
	 from a_crm.crm_et_tracking t
	 where sendid = ${1:jobid}
		and subscriberkey = '${2:subscriberkey}'
		and eventtype = 'Sent'
	;

snippet	seljdt
	select /*+ PARALLEL(jd,32) 
						 PARALLEL(t,32) */
				 jd.*
				,t.*
	 from a_crm.crm_job_details jd
	 left outer join a_crm.crm_et_tracking t on jd.job_id = t.sendid
																					and jd.crm_glb_cust_id = t.subscriberkey
	 where jd.campaign_code like '${1:predicate}%'
			and jd.crm_glb_cust_id like ''
			and t.eventtype = 'Sent'
	;

snippet sel
	select /*+ PARALLEL(${2:table_prefix},32) */
				 $2.*
		from ${1:table_name} $2
snippet selw
	  select /*+ PARALLEL(${2:table_prefix},32) */
			 $2.*
	    from ${1:table_name} $2
	   where ${3:predicate}
snippet hintpar
	/*+ PARALLEL(${1:table_prefix},32) */ 
snippet hintpar2
	/*+ PARALLEL(${1:table_prefix},32) 
	    PARALLEL(${2:table_prefix},32) */ 
snippet hintpar3
	/*+ PARALLEL(${1:table_prefix},32) 
	    PARALLEL(${2:table_prefix},32)
		PARALLEL(${3:table_prefix},32) */ 
snippet hintapp
	/*+ APPEND */
snippet dual
	select $2
				,$4
	from 
	(
	 select ${1:field1} as ${2:name1}, ${3:field2} as ${4:name2} from dual union all
	 select $1 as $2, $3 as $4 from dual union all
	 select $1 as $2, $3 as $4 from dual union all
	 select $1 as $2, $3 as $4 from dual union all
	 select $1 as $2, $3 as $4 from dual 
	)
	;

snippet crmpred
	and campaign_code = ''
	and cell_code = ''
	and control_group = ''
	and customer_id = ''
	and email_address = ''
	and e_email = ''
	and crm_glb_cust_id = ''

snippet insert
	insert /*+ APPEND */ into ${1:tab} ${2:alias}
	select /*+ PARALLEL(${4:alias2}, 64) */
	       *
	  from ${3:tab2} $4
	;

snippet stpl
	%s/@TABLE_NAME/${1}/g | 
	%s/@FILETYPE/${2}/g | 
	%s/@PROGRAMVALUE/${3}/g | 
	%s/@W1/${4}/g | 
	%s/@CAMPAIGNTYPE/${5}/g | 
	%s/@CHANNEL/${6}/g | 
	%s/@REGIONVALUE/${7}/g | 
	%s/@COUNTRYCODE/${8}/g | 
	%s/@LANGUAGECODE/${9}/g | 
	%s/@DATEVALUE/\=strftime("%m%d%y")/g | 
	%s/@STARTDATEVALUE/\=strftime("%m%d%y")/g

snippet sdbmlutab
	select /*+ PARALLEL(rc,32) */
		  *
	from s_dbm.lookup_region_countries rc
	where lower(country) = '${1:COUNTRY_NAME}'
	;


	select /*+ PARALLEL(lv,32) */
		  *
	from s_dbm.lookup_country_language_values lv
	where lower(country_name) = '$1'
	  or lower(country_code) = '${2:COUNTRY_CODE}'
	;

	select /*+ PARALLEL(cc,32) */
		  *
	from s_dbm.lookup_country_codes cc
	where lower(country_name) = '$1'
	  -- or lower(country_code) = '$2'
	  -- or lower(country_region) = ''
	;
snippet ldwifi
	sap_sold_to not in ('0000348529', '0000348526', '0000348528')
snippet npslog
	select /*+ parallel(l32) */ 
		  campaign_description
		 ,campaign_month
		 ,campaign_step_description
		 ,campaign_step_sequence
		 ,number_of_records
		 ,step_start_time
		 ,step_completion_time
		 ,modified_by
		 ,comments
	from s_dbm.campaign_steps_log
	where step_start_time >= trunc(sysdate)-1
	   and campaign_description in (
		'NPS (Net Promoter Score) BBM Campaign'   --BBM
	   ,'NPS (Net Promoter Score) BB10 Campaign'  --BB10
	   ,'NPS (Net Promoter Score) BBOS Campaign'  --BBOS
	   ,'GRS (Global Repaire Service) Survey Campaign' --GRS
	   )
	order by step_start_time desc
snippet chrtm
	unistr('\2122')
snippet chrreg
	unistr('\00AE')
snippet devunmap
	select * from (
	  select count(*) as cnt
			,device_type
			,os_family 
	   from s_pprov.glb_devices 
	  where date_created >= to_date('1/30/2013', 'MM/DD/YYYY') 
		and status=11 
		and dev_app_ver like '10.%' 
		and os_family='QNX'
		and device_type not in (select device_type from s_pprov.device_mapping)
	  group by device_type, os_family
	)
	order by cnt desc;
snippet forcespool
	  BEGIN
		S_DBM.PACK_SPOOLING_FILES.Proc_Main;
	  END;
snippet mypin
	2FFF6F93
snippet myecoid
	AZrOjiC42Pq721ARBmQQB5s=
snippet exists
	exists
	(
	  select /*+ parallel($2,32) */
			1
	  from ${1:table_name} ${2:alias1}
	where $2.${3:field_name} = ${4:alias2}.$3
	)
snippet spooldefuck
	delete
	--select *
	from APEX_CUSTINFO.DMD_FORM_TABLE DMD
	where campaign_name =  'NPS BB10 Campaign - ' || '${1:Full Month Proper Case}' || ' ' || '${2:DD, YYYY}' 

	delete
	--select *
	from apex_custinfo.dmd_form_table_spooling_info
	where dmd_request_code = 
	(
	  select dmd_request_code
	  from APEX_CUSTINFO.DMD_FORM_TABLE DMD
	  where campaign_name =  'NPS BB10 Campaign - ' || '$1' || ' ' || '$2' 
	)


	drop table DCC_SUR_NPS_MU_MU_MU_121914_01;
	drop table DCC_SUR_NPS_MU_MU_MU_121914_02;
	drop table MAIN_SUR_NPS_MU_MU_MU_121914_F;
	drop table S_DBM.MAIN_SUR_NPS_MU_MU_MU_121914_F;
